# Frontend
frontend/node_modules/
frontend/.angular/
frontend/dist/
frontend/.env
frontend/.env.local

# Backend
backend/rest-backend/var/
backend/rest-backend/.env
backend/rest-backend/.env.local
backend/rest-backend/.env.test
backend/rest-backend/vendor/

# Archivos del sistema
.DS_Store
Thumbs.db
*.log